body {
	overflow-x: hidden;
}

ul {
	margin: 0;
    padding: 0;		
	list-style-type: none;
}

@-webkit-keyframes widthAnimate {
    100%    {width: 100%;}
    75%     {width: 25%;}
    50%     {width: 50%;}    
    25%     {width: 75%;}
    0%      {width: 100%}
}

@keyframes widthAnimate {
    100%    {width: 100%;}
    75%     {width: 25%;}
    50%     {width: 50%;}    
    25%     {width: 75%;}
    0%      {width: 100%}
}

.animate-width {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite

    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-animation-name: widthAnimate;
    -moz-animation-name: widthAnimate;
    animation-name: widthAnimate;

    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.fluid-container,
.container{
    -webkit-transition: all ease .5s; 
    -moz-transition: all ease .5s;
    transition: all ease .5s; 
}

body > .fluid-container.
body > .container {
    padding: 0;       
}

/* for counting purposes only */    
.grid-row {
    counter-reset: grid-number;
}

.grid-row div:before,
.grid-row li:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 7em;
    font-weight: bold;
    color: #fff;
    counter-increment: grid-number;
    content: counter(grid-number);
    user-select: none;
    opacity: .4;
}

/* grid system */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8 {
    position: relative;
    float: left;
    padding: 10px;
    min-height: 150px;
    margin-bottom: -1px;
    border: 1px solid #000;
    border-right: 0;
    text-align: center;
    overflow: hidden;
    -webkit-transition: width ease-in-out .3s;
    -moz-transition: width ease-in-out .3s;
    transition: width ease-in-out .3s;
}

.grid-1 > .grid-1,
.grid-2 > .grid-2,
.grid-3 > .grid-3,
.grid-4 > .grid-4,
.grid-5 > .grid-5,
.grid-6 > .grid-6,
.grid-7 > .grid-7,
.grid-8 > .grid-8 {
    min-height: 1px;
}

.grid-1:before,
.grid-1:after,
.grid-2:before,
.grid-2:after,
.grid-3:before,
.grid-3:after,
.grid-4:before,
.grid-4:after,
.grid-5:before,
.grid-5:after,
.grid-6:before,
.grid-6:after,
.grid-7:before,
.grid-7:after,
.grid-8:before,
.grid-8:after {
    display: table;
    content: " ";
}

.grid-1:after
.grid-2:after
.grid-3:after
.grid-4:after
.grid-5:after
.grid-6:after
.grid-7:after
.grid-8:after {
    clear: both;
}

.grid-1 { background: #dd5858; }

.grid-2 { background: #db57ad; }

.grid-3 { background: #c356d8; }

.grid-4 { background: #8f56d8; }

.grid-5 { background: #6556d8; }

.grid-6 { background: #567fd8; }

.grid-7 { background: #56b8d8; }

.grid-8 { background: #55d6c2; }

.grid-1 {
    width: 100%;
}

.grid-1:last-child {
    border-bottom: 1px solid #000;
}

.grid-1 {
    border-right: 1px solid #000;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-2 {
        width: 50%;
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-2 {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .grid-2 {
        width: 50%;
    }
}

.grid-2:nth-child(2n+1):last-child,
.grid-2:nth-child(2n+1):nth-last-child(2),
.grid-2:nth-child(2n+1):nth-last-child(2) + .grid-2,
.grid-2:nth-child(2n+1):nth-last-child(3) + .grid-2 + .grid-2 {
    border-bottom: 1px solid #000;
}

.grid-2:nth-child(2n+1):last-child {
    width: 100%;
}

.grid-2:nth-child(2n+1):last-child,
.grid-2:nth-child(2n+1) + .grid-2 {
    border-right: 1px solid #000;
}

.grid-2:nth-child(2n+1):nth-last-child(2) + .grid-2 {
    width: 50%;
}

.grid-2:nth-child(2n+1):nth-last-child(3) + .grid-2 + .grid-2 {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-3 {
        width: 33.333333%;
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-3 {
        width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .grid-3 {
        width: 33.333333%;
    }
}

.grid-3:nth-child(3n+1):last-child,
.grid-3:nth-child(3n+1):nth-last-child(2),
.grid-3:nth-child(3n+1):nth-last-child(2) + .grid-3,
.grid-3:nth-child(3n+1):nth-last-child(3),
.grid-3:nth-child(3n+1):nth-last-child(3) + .grid-3,
.grid-3:nth-child(3n+1):nth-last-child(3) + .grid-3 + .grid-3 {
    border-bottom: 1px solid #000;
}

.grid-3:nth-child(3n+1):last-child,
.grid-3:nth-child(3n+1):nth-last-child(2) + .grid-3,
.grid-3:nth-child(3n+1):nth-last-child(3) + .grid-3 + .grid-3,
.grid-3:nth-child(3n+1):nth-last-child(4) + .grid-3 + .grid-3,
.grid-3:nth-child(3n+1) + .grid-3 + .grid-3 {
    border-right: 1px solid #000;
}

.grid-3:nth-child(3n+1):last-child {
    width: 100%;
}

.grid-3:nth-child(3n+1):nth-last-child(2),
.grid-3:nth-child(3n+1):nth-last-child(2) + .grid-3 {
    width: 50%;
}

.grid-3:nth-child(3n+1):nth-last-child(3),
.grid-3:nth-child(3n+1):nth-last-child(3) + .grid-3,
.grid-3:nth-child(3n+1):nth-last-child(3) + .grid-3 + .grid-3 {
    width: 33.333333%;
}

@media (min-width: 320px) and (max-width: 768px) {
	.grid-4 {
		width: 25%;	
        /*border-right: 1px solid #000;*/
	}
}

@media (min-width: 768px) {
	.grid-4 {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.grid-4 {
		width: 25%;
	}
}

.grid-4:nth-child(4n+1):last-child,
.grid-4:nth-child(4n+1):nth-last-child(2),
.grid-4:nth-child(4n+1):nth-last-child(2) + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(3),
.grid-4:nth-child(4n+1):nth-last-child(3) + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(3) + .grid-4 + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(4),
.grid-4:nth-child(4n+1):nth-last-child(4) + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(4) + .grid-4 + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(4) + .grid-4 + .grid-4 + .grid-4 {
    border-bottom: 1px solid #000;
}

.grid-4:nth-child(4n+1):last-child,
.grid-4:nth-child(4n+1) + .grid-4 + .grid-4 + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(2) + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(3) + .grid-4 + .grid-4, 
.grid-4:nth-child(4n+1):nth-last-child(4) + .grid-4 + .grid-4 + .grid-4 {
    border-right: 1px solid #000;
}

.grid-4:nth-child(4n+1):last-child {
    width: 100%;
}

.grid-4:nth-child(4n+1):nth-last-child(2),
.grid-4:nth-child(4n+1):nth-last-child(2) + .grid-4 {
	width: 50%;
}

.grid-4:nth-child(4n+1):nth-last-child(3),
.grid-4:nth-child(4n+1):nth-last-child(3) + .grid-4,
.grid-4:nth-child(4n+1):nth-last-child(3) + .grid-4 + .grid-4 {
    width: 33.333333%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-5 {
        width: 20%;   
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-5 {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .grid-5 {
        width: 20%;
    }
}

.grid-5:nth-child(5n+1):last-child,
.grid-5:nth-child(5n+1):nth-last-child(2),
.grid-5:nth-child(5n+1):nth-last-child(2) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(3),
.grid-5:nth-child(5n+1):nth-last-child(3) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(3) + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(4),
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5 + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(5),
.grid-5:nth-child(5n+1):nth-last-child(5) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(5) + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(5) + .grid-5 + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(5) + .grid-5 + .grid-5 + .grid-5 + .grid-5 {
    border-bottom: 1px solid #000;
}


.grid-5:nth-child(5n+1):last-child,
.grid-5:nth-child(5n+1):nth-last-child(2) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(3) + .grid-5 + .grid-5:last-child,
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5 + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1) + .grid-5 + .grid-5 + .grid-5 + .grid-5 {
    border-right: 1px solid #000;
}

.grid-5:nth-child(5n+1):last-child {
    width: 100%;
}

.grid-5:nth-child(5n+1):nth-last-child(2),
.grid-5:nth-child(5n+1):nth-last-child(2) + .grid-5 {
    width: 50%;
}

.grid-5:nth-child(5n+1):nth-last-child(3),
.grid-5:nth-child(5n+1):nth-last-child(3) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(3) + .grid-5 + .grid-5 {
    width: 33.333333%;
}

.grid-5:nth-child(5n+1):nth-last-child(4),
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5 + .grid-5,
.grid-5:nth-child(5n+1):nth-last-child(4) + .grid-5 + .grid-5 + .grid-5 {
    width: 25%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-6 {
        width: 16.666667%;    
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-6 {
        width: 16.666667%;
    }
}

@media (min-width: 1200px) {
    .grid-6 {
        width: 16.666667%;
    }
}

.grid-6:nth-child(6n+1):last-child,
.grid-6:nth-child(6n+1):nth-last-child(2),
.grid-6:nth-child(6n+1):nth-last-child(2) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(3),
.grid-6:nth-child(6n+1):nth-last-child(3) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(3) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4),
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5),
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6),
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6 + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6 + .grid-6 + .grid-6 + .grid-6 + .grid-6 {
    border-bottom: 1px solid #000;
}

.grid-6:nth-child(6n+1):last-child,
.grid-6:nth-child(6n+1):nth-last-child(2) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(3) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(6) + .grid-6 + .grid-6 + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1) + .grid-6 + .grid-6 + .grid-6 + .grid-6 + .grid-6 {
    border-right: 1px solid #000;
}

.grid-6:nth-child(6n+1):last-child {
    width: 100%;
}

.grid-6:nth-child(6n+1):nth-last-child(2),
.grid-6:nth-child(6n+1):nth-last-child(2) + .grid-6 {
    width: 50%;
}

.grid-6:nth-child(6n+1):nth-last-child(3),
.grid-6:nth-child(6n+1):nth-last-child(3) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(3) + .grid-6 + .grid-6 {
    width: 33.333333%;
}

.grid-6:nth-child(6n+1):nth-last-child(4),
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(4) + .grid-6 + .grid-6 + .grid-6 {
    width: 25%;
}

.grid-6:nth-child(6n+1):nth-last-child(5),
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6 + .grid-6,
.grid-6:nth-child(6n+1):nth-last-child(5) + .grid-6 + .grid-6 + .grid-6 + .grid-6 {
    width: 20%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-7 {
        width: 14.285714%;   
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-7 {
        width: 14.285714%;
    }
}

@media (min-width: 1200px) {
    .grid-7 {
        width: 14.285714%;
    }
}

.grid-7:nth-child(7n+1):last-child,
.grid-7:nth-child(7n+1):nth-last-child(2),
.grid-7:nth-child(7n+1):nth-last-child(2) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(3),
.grid-7:nth-child(7n+1):nth-last-child(3) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(3) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4),
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5),
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6),
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7),
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(7) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7 {
    border-bottom: 1px solid;
}

.grid-7:nth-child(7n+1):last-child,
.grid-7:nth-child(7n+1):nth-last-child(2) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(3) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7 {
    border-right: 1px solid #000;
}

.grid-7:nth-child(7n+1):last-child {
    width: 100%;
}

.grid-7:nth-child(7n+1):nth-last-child(2),
.grid-7:nth-child(7n+1):nth-last-child(2) + .grid-7 {
    width: 50%;
}

.grid-7:nth-child(7n+1):nth-last-child(3),
.grid-7:nth-child(7n+1):nth-last-child(3) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(3) + .grid-7 + .grid-7 {
    width: 33.333333%;
}

.grid-7:nth-child(7n+1):nth-last-child(4),
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(4) + .grid-7 + .grid-7 + .grid-7 {
    width: 25%;
}

.grid-7:nth-child(7n+1):nth-last-child(5),
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(5) + .grid-7 + .grid-7 + .grid-7 + .grid-7 {
    width: 20%;
}

.grid-7:nth-child(7n+1):nth-last-child(6),
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7 + .grid-7,
.grid-7:nth-child(7n+1):nth-last-child(6) + .grid-7 + .grid-7 + .grid-7 + .grid-7 + .grid-7 {
    width: 16.666667%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-8 {
        width: 12.5%;  
        /*border-right: 1px solid #000;*/
    }
}

@media (min-width: 768px) {
    .grid-8 {
        width: 12.5%;
    }
}

@media (min-width: 1200px) {
    .grid-8 {
        width: 12.5%;
    }
}

.grid-8:nth-child(8n+1):last-child,
.grid-8:nth-child(8n+1):nth-last-child(2),
.grid-8:nth-child(8n+1):nth-last-child(2) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(3),
.grid-8:nth-child(8n+1):nth-last-child(3) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(3) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4),
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5),
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6),
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7),
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8),
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(8) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 {
    border-bottom: 1px solid;
}

.grid-8:nth-child(8n+1):last-child,
.grid-8:nth-child(8n+1):nth-last-child(2) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(3) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 {
    border-right: 1px solid #000;
}

.grid-8:nth-child(8n+1):last-child {
    width: 100%;
}

.grid-8:nth-child(8n+1):nth-last-child(2),
.grid-8:nth-child(8n+1):nth-last-child(2) + .grid-8 {
    width: 50%;
}

.grid-8:nth-child(8n+1):nth-last-child(3),
.grid-8:nth-child(8n+1):nth-last-child(3) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(3) + .grid-8 + .grid-8 {
    width: 33.333333%;
}

.grid-8:nth-child(8n+1):nth-last-child(4),
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(4) + .grid-8 + .grid-8 + .grid-8 {
    width: 25%;
}

.grid-8:nth-child(8n+1):nth-last-child(5),
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(5) + .grid-8 + .grid-8 + .grid-8 + .grid-8 {
    width: 20%;
}

.grid-8:nth-child(8n+1):nth-last-child(6),
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(6) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 {
    width: 16.666667%;
}

.grid-8:nth-child(8n+1):nth-last-child(7),
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8,
.grid-8:nth-child(8n+1):nth-last-child(7) + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 + .grid-8 {
    width: 14.285714%;
}


